fastapi 
uvicorn
python-multipart
psutil
pycocotools
huggingface_hub
torch
torchvision
torchaudio
numpy==1.26.1
Pillow
einops
transformers
safetensors
accelerate
fire
sentencepiece
diffusers
scikit-image
sqlmodel
sse-starlette
